services:
  - type: web
    name: youtube-downloader
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 5000
      - key: FLASK_DEBUG
        value: "False"
    healthCheckPath: /

